%h1 Presentability
%table
  %tr
    %th Drink
    %th Overall
  - @drinks.each do |drink|
    %tr
      %td
        = drink.name
      %td
        = drink.presentation_mean + drink.drinkable_mean + drink.adventure_mean

