= form_for @vote do |f|
  %label Best Presentation
  .switch.switch-three.candy.blue
    %input#drink1{:name => "best_presentation", :type => "radio"}
    %label{:for => "drink1", :onclick => ""}
      = @vote.drink1.name
    %input#no_vote{:checked => "", :name => "best_presentation", :type => "radio"}
    %label{:for => "no_vote", :onclick => ""} No Vote
    %input#drink2{:name => "best_presentation", :type => "radio"}
    %label{:for => "drink2", :onclick => ""}
      = @vote.drink2.name
    %span.slide-button
  .actions
    = f.submit